@charset "UTF-8";

body {
    height: 100vh;
    background-size: cover;
    background: black url('imagens/wallpaper002.jpg') center top repeat-y fixed;
}

main {
    background-color: white;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
}